[submodule "pkgcheck2html"]
	path = pkgcheck2html
	url = https://github.com/mgorny/pkgcheck-result-parser
[submodule "dev-timeline"]
	path = dev-timeline
	url = https://github.com/mgorny/dev-timeline
