/* Gentoo bar */
body {
        margin: 1em;
        font-family: sans-serif;
}

div#gentoo-bar {
    background: url(gentoo-header-bar-bg.png) repeat-x;
    margin-bottom: 2em;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
}

div#gentoo-bar img {
    border: none !important;
}

div#gentoo-bar div {
    padding: .25em;
}

div#gentoo-bar a.home-link {
    margin-right: .5em;
    float: left;
}

div#gentoo-bar div a {
    text-decoration: none;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    color: #231A3F;
}

div#gentoo-bar div a:hover {
    background-color: #A898DD;
    color: #45347B;
}

div#gentoo-bar div a.active {
    background-color: white;
    font-weight: bold;
}
